/* Global Styling */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");
/* Responsive Styling */

.test{
    width: 100vw;
 }

/* css navbar */
.img {
    background: url("../../assets/images/main-bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0 0 0 0;
    margin:0 auto;
    width: auto;
    background-size:cover;
    background-position: center;
    height: 100vh;
    overflow: none;
}

.hero-main-info {
    height: 100%;
}

#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px !important;
    height: 90%;
}

#heroTitle {
    font-size: 4rem !important;
    font-weight: bold;
    color: black;
}

#heroSubtitle {
    font-size: 2.5rem !important;
    color: black;
    font-weight: bold;
}

.scroll-down-btn {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-btn-text {
    text-transform: uppercase;
}




/* #mainpage > p {
    margin-top: 35vh;
    margin-bottom: -2vh;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#caret-down {
    color: white;
}

#caret-down:hover {
    color: goldenrod;
} */

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  
.tri {
    height: 100x;
    /* weight: 1000px; */
    transform: scale(25%);
    animation: cursor-blink 1s steps(2) infinite;
}
  
.mainpage .div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: white;
   }

/* halaman2 */
#container-fluid-main {
    background: url(./images/main-bg.jpg);
    height: 130vh;
    background-size: cover;
    background-position: center;
}

/* #container-main {
    text-align: center;    
    color: white;
}

#container-main > .play {    
    font-size: 60px;
    padding-top: 40vh;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

#container-main > .what {
    font-size: 15px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    letter-spacing: 1.5px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
} */

#caret-down {
    color: white;
}

#caret-down:hover {
    color: goldenrod;
}

.prop{
    margin-right: unset;
}

/* Halaman2 */
#container-fluid-games {
    background: url(./images/the-games-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

#container-fluid-games > .row > .col > .the {
    color: white;
    margin-top: -5vh;
    padding-top: 10px;
    margin-left: 6vw;
    letter-spacing: 3px;
    text-align: center;
    font-weight: normal;    
    text-transform: uppercase;    
    font-family: 'Open Sans', sans-serif;    

}

#container-fluid-games > .row > .col > .what {
    color: white;
    margin-top: -20vh;
    margin-left: 6vw;
    letter-spacing: 3px;
    text-align: center;
    font-weight: normal;    
    text-transform: uppercase;    
    font-family: 'Open Sans', sans-serif;  

}

.carousel-inner {
    margin-top: 35vh;
}

.carousel-control-prev {
    margin-left: -4vw;
}

.carousel-control-next {
    margin-right: -4vw;
}

/* Halaman 3 */
#container-fluid-features {
    background: url(./images/features.jpg);
    height: 130vh;
    background-size: cover;
    background-position: center;
}

#col-features { 
    margin-top: 30vh;
}

#container-fluid-features > .row > .col > .feature {
    color: white;
    letter-spacing: 3px;
    margin-left: 1vw;
    font-weight: normal;    
    text-transform: uppercase;    
    font-family: 'Open Sans', sans-serif;    
}

#container-fluid-features > .row > .col > .special {
    color: white;
    font-size: 15px;    
    letter-spacing: 1.5px;
    margin-top: -13vh;
    margin-bottom: 18vh;
    margin-left: 1.2vw;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.tl-item > div > .trad {
    color: #fbb341;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px; 
} 

.tl-item2 > .tl-right > .tbd {
    color: #fbb341;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
}

.tl-item > div > .if {
    font-size: 12px;
    color: white;
    padding-bottom: 5vh;
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: flex;
}

.tl-item > * {
    padding: 5px;
    margin-left: 1.25vw;
}

.tl-item2 {
    border-radius: 3px;
    position: relative;
    display: flex;
}

.tl-item2 > * {
    padding: 3px;
    margin-left: 1.2vw;
}

.tl-dot:after, .tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    width: 0.8vw;
    height: 1.5vh;
    top: 3vh;
    transform: translateX(-50%);
}

.tl-dot:after {
    width: 0;
    height: auto;
    bottom: -2.8vh;
}

.tl-dot2 {
    position: relative;
    border-color: white;
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: 0.8vw;
    height: 1.5vh;
    top: 2.8vh;
    margin-left: 1.65vw;
    transform: translateX(-50%);
}

.b-warning {
    border-color: white !important;
}

.tl-right {
    margin-left: 3.5vw;
}


/* Halaman4 */
#container-fluid-systemRequirements {
    background: url(./images/requirements.png);
    height: 130vh;
    background-size: cover;
    background-position: center;
}

#container-fluid-systemRequirements > .row > .col-sm-8 > .system {
    color: white;
    letter-spacing: 3px;
    margin-top: 10vh;
    font-weight: normal;    
    text-transform: uppercase;    
    font-family: 'Open Sans', sans-serif;   
    padding-left: -30px; 
    margin-left: 30px;
    text-align: left;
}

#container-fluid-systemRequirements > .row > .col-sm-8 > .can {
    color: white;
    font-size: 15px;    
    margin-top: -15vh;
    margin-left: 30vw;
    margin-bottom: 25vh;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.col-sm-8 > .table > thead > tr > th {
    color: #fbb341;
    font-weight: normal;
    
}

.col-sm-8 > .table > thead > tr > th > .isi {
    color: white;
    font-size: 12px;    
    margin-top: 1vh;
    font-weight: normal;
}

.col-sm-8 > .table {
    width: 40vw;
    border-color: rgba(128, 128, 128, 0.5);
}


/* Halaman5 */

.topScore {
    background: url(./images/bg-scores.jpg) no-repeat;
    height: 130vh;
    background-size: cover;
    background-position: center;
}

#topscore > .row > .col-sm-4 > .top {
    color: white;
    letter-spacing: 3px;
    margin-top: 45vh;
    padding-top: -20px;
    font-weight: normal;    
    text-transform: uppercase;    
    font-family: 'Poppins', sans-serif;  
}

#topscore > .row > .col-sm-4 > .plat { 
    font-size: 18px;
    color: white;
    margin-top: 3vh;
    margin-bottom: 10vh;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    padding-left: 5vw;
    text-align: left;
}

.topscore > .row > .col-sm-4 > .see {
    margin-top: -15vh;
    margin-left: 50rem;
    margin-bottom: 25vh;
    padding-left: 10vh;

}

.testiPad {
    padding-top: 20px;
}
  
.testiPad > .cardDate {
    color: rgb(255, 255, 255);
    opacity: 0.5;
} 
  
.namecard > .ishi{
    font-size: 24px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}
  
.scorekanan{
    height: auto;
    width: 600px;
    padding: 10px;
  }
  
.cardEvan{
    display: flex;
    justify-content: end;
  }
  
.cardJada{
    /* width: 600px; */
    display: flex;
    justify-content: start;
  }
  
.cardAaron{
    display: flex;
    justify-content: end;
  }
  
  
.cardCon{
    height: 220px;
    width: 500px;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    background-color:rgb(26, 25, 25);
  }
  
.testiRow{
    padding: auto;
    height: auto;
    padding: 5px;
  }
  
.testiTxt{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
}
  
.userpicPad{
    width: 10px;
    width: auto;
    border-radius: 50%;
    margin: auto;
}
  
.userPic{
    border-radius: 50px;
    background-color: #f3b200;
    padding: 5px;
    margin: auto;
}
  
.cardTesti{
    padding: 10px;
}
  
.testiTxt{
    color: rgb(248, 248, 248);
}

.twitter{
    height: 100%;
    width: auto;
    padding: 5px;
}
  
.twitter > .twit{
   width: auto;
   height: 25%;
}


/* Halaman6 */
#container-fluid-newsletter {
    background-color: black;
    height: 145vh;
    background-size: cover;
    background-position: center;
}

#container-fluid-newsletter > .row > .col-sm-4 > .img-fluid {
    margin-top: 30vh;
    margin-left: 11vw;
    height: 70vh;
}

#container-fluid-newsletter > .row > .col-sm-8 > .news {
    color: white;
    letter-spacing: 3px;
    margin-top: 30vh;
    font-weight: normal;    
    text-transform: uppercase;    
    font-family: 'Oppen Sans', sans-serif;  
    margin-left: 3vh;
    text-align: left;
    
}

#container-fluid-newsletter > .row > .col-sm-8 > .want { 
    font-size: 25px;
    color: white;
    margin-top: -23vh;
    margin-bottom: 20vh;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 10vw; */
    
}

#container-fluid-newsletter >.row > .col-sm-8 > .in {
    font-size: 15px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    /* margin-left: 10vw; */
    margin-right: 7vw;
    margin-bottom: 8vh;
    margin-left: -15px;
    padding-left: 30px;
    padding-top: 20px;
    text-align: left;
}

input#inputEmail {
    background-color: white;
    opacity: 30%;  
    margin-left: 10vw;  
    width: 13vw;
}

input#inputEmail::placeholder {
    font-size: 12px;
    color: black;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

input#inputEmail:focus {
    outline: none !important;
    border:2px solid white;
    box-shadow: 0 0 15px goldenrod;
}

.col-auto > a > .btn {
    margin-top: 25px;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}


/* Footer */
footer {
    position: relative;
    height: 40px;
    background-size: cover;
    background-position: center;
}
  
footer .bin  {
    margin-left: -7em;
    font-size: 12px;
    color: grey;
    text-align: start;
}

footer .upper {
    display: flex;
    padding: 3em;
}
  
footer .bottom {
    display: flex;
    padding: 1em;
}
  
footer .up-left {
    margin-left: -12em;
    margin-right: 12em;
}
  
footer .btm-left {
    margin-left: 5em;
    margin-right: -8.3em;
}
  
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
footer li {
    display: inline;    
}
  
footer a#font1 {
    color: white;
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-left: 1.3em;
}
  
footer li a#font1:hover {
    color: rgb(117, 104, 19);
}
  
footer a {
    color: white;
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
  
footer i {
    color: white;
}
  
footer li a:hover {
    color: rgb(117, 104, 19);
}
  
#facebook:hover {
    color: rgb(21, 110, 226);
}
  
#twitter:hover {
    color: lightskyblue;
}
  
#twitch:hover {
    color: rgb(206, 17, 206);
}
  
#youtube:hover {
    color: red;
}




@media (max-width:800px) {
    #container-fluid-games > .row > .col > .the {
        color: white;
        margin-top: -5vh;
        padding-top: 10px;
        margin-left: 6vw;
        letter-spacing: 3px;
        text-align: center;
        font-weight: normal;    
        text-transform: uppercase;    
        font-family: 'Open Sans', sans-serif;    
        font-size: 30px;
    }
    
    #container-fluid-games > .row > .col > .what {
        color: white;
        margin-top: -20vh;
        margin-left: 6vw;
        letter-spacing: 3px;
        text-align: center;
        font-weight: normal;    
        text-transform: uppercase;    
        font-family: 'Open Sans', sans-serif;  
        font-size: 12px;
    }

    #container-fluid-systemRequirements > .row > .col-sm-8 > .system {
        color: white;
        letter-spacing: 3px;
        margin-top: 10vh;
        font-weight: normal;    
        text-transform: uppercase;    
        font-family: 'Open Sans', sans-serif;   
        padding-left: -30px; 
        margin-left: 30px;
        text-align: left;
        font-size: 30px;
    }
    
    #container-fluid-systemRequirements > .row > .col-sm-8 > .can {
        color: white;
        font-size: 15px;    
        margin-top: -17vh;
        margin-left: 40vw;
        margin-bottom: 25vh;
        letter-spacing: 1.5px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }

    #topscore > .row > .col-sm-4 > .top {
        color: white;
        letter-spacing: 3px;
        margin-top: -5vh;
        padding-top: 8%;
        font-weight: normal;    
        text-transform: uppercase;    
        font-family: 'Poppins', sans-serif;  
        font-size: 30px;
        margin-left: 10vh;
        text-align: left;
        position: absolute;
    }
    
    #topscore > .row > .col-sm-4 > .plat { 
        font-size: 18px;
        color: white;
        padding-top: 10%;
        margin-bottom: 2vh;
        letter-spacing: 1.5px;
        font-weight: normal;
        font-family: 'Poppins', sans-serif;
        padding-left: 5vw;
        font-size: 15px;
        margin-left: 2vh;
    }
    
    .topscore > .row > .col-sm-4 > .see > .btn{
        /* margin-top: 20%; */
        margin-left: 50rem;
        margin-bottom: 10vh;
        padding-left: 10vh;
        padding-top: 20%;
    }

    .namecard .ishi{
        font-size: 17px;
        color: rgb(255, 255, 255);
        opacity: 0.5;
        padding-left: 4vh;
    }
    .namecard .text-warning{
        font-size: 18px;
        color: rgb(255, 255, 255);
        opacity: 0.5;
        padding-left: 1vh;
    }
    
    .testiRow .testiTxt{
        font-size: 14px;
    }
    
    .testiRow .cardDate{
        font-size: 14px;
        height: 50cm;
    }


    .scorekanan{
        height: 100;
        width: 600px;
        padding: 5px;
        font-size: smaller;
        padding-top: 2%;
      }
      
    .cardEvan{        
        justify-content: end;
      }
      
    .cardJada{
        /* width: 600px; */

        justify-content: start;
      }
      
    .cardAaron{

        justify-content: end;
      }
      
      
    .cardCon{
        height: 170px;
        width: 600px;
        background-color: #fff;
        border-radius: 20px;
        padding: 25px;
        background-color:rgb(26, 25, 25);
        
      }
      
    .testiRow{
        padding: auto;
        height: auto;
        padding: 5px;
      }
      
    .testiTxt{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: #FFFFFF;
    }
      
    .userpicPad{
        width: 10px;
        width: auto;
        border-radius: 50%;
        margin: auto;
    }
      
    .userPic{
        border-radius: 50px;
        background-color: #f3b200;
        padding: 5px;
        margin: auto;
        width: 50px;
    }
      
    .cardTesti{
        padding: 10px;
    }
      
    .testiTxt{
        color: rgb(248, 248, 248);
    }


    
    #container-fluid-newsletter {
        background-color: black;
        height: 130vh;
        background-size: cover;
        background-position: center;
    }
    
    #container-fluid-newsletter > .row > .col-sm-4 > .img-fluid {
        margin-top: 30vh;
        margin-left: 11vw;
        height: 70vh;
        size: 10px;
        padding-left: -60px;
        position: absolute;
    }
    
    #container-fluid-newsletter > .row > .col-sm-8 > .news {
        color: white;
        letter-spacing: 3px;
        margin-top: 40vh;
        font-weight: normal;    
        text-transform: uppercase;    
        font-family: 'Oppen Sans', sans-serif;  
        margin-left: 14vh;
        font-size: 20px;
        
    }
    
    #container-fluid-newsletter > .row > .col-sm-8 > .want { 
        font-size: 17px;
        color: white;
        margin-top: -20vh;
        margin-bottom: 20vh;
        letter-spacing: 1.5px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        margin-left: 10vw;
        font-size: 14px;
        text-align: left;
        margin-left: 14vh;
    }
    
    #container-fluid-newsletter >.row > .col-sm-8 > .in {
        font-size: 15px;
        color: white;
        letter-spacing: 1.5px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        /* margin-left: 10vw; */
        margin-right: 7vw;
        margin-bottom: 8vh;
        margin-left: 20px;
        padding-left: 60px;
        padding-top: 10px;
        font-size: 10px;
    }
    
    input#inputEmail {
        background-color: white;
        opacity: 30%;  
        margin-left: 60vw;  
        width: 13vw;
        height: 5vw;
        margin-top: -25px;
        margin-left: 14vh;
    }
    
    input#inputEmail::placeholder {
        font-size: 12px;
        color: black;
        letter-spacing: 1.5px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }
    
    input#inputEmail:focus {
        outline: none !important;
        border:2px solid white;
        box-shadow: 0 0 15px goldenrod;
    }
    
    .col-auto > a > .btn {
        font-size: 9px;
        letter-spacing: 0.5px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        margin-left: 60vw;  
        width: 20vw;
        margin-top: 10px;
        margin-left: -5vh;
    }


    
    footer {
        position: relative;
        height: 40px;
        background-size: cover;
        background-position: center;
    }
      
    footer .bin {
        margin-left: -9.2em;
        font-size: 12px;
        color: grey;
        text-align: start;
    }
    
    footer .upper {
        display: flex;
        padding: 2em;
    }
      
    footer .bottom {
        display: flex;
        padding: 1em;
    }
      
    footer .up-left {
        margin-left: -12em;
        margin-right: 12em;
    }
      
    footer .btm-left {
        margin-left: 22em;
        margin-right: -5.3em;
        margin-top: -15px;
        margin-bottom: 10px;
        font-size: 5px;
    }
      
    footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-top: -30px;
    }
      
    footer li {
        display: inline;    
    }
      
    footer a#font1 {
        color: white;
        font-size: 8px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        margin-left: 1.3em;
    }
      
    footer li a#font1:hover {
        color: rgb(117, 104, 19);
    }
      
    footer a {
        color: white;
        font-size: 8px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
      
    footer i {
        color: white;
    }
      
    footer li a:hover {
        color: rgb(117, 104, 19);
    }
      
    #facebook:hover {
        color: rgb(21, 110, 226);
    }
      
    #twitter:hover {
        color: lightskyblue;
    }
      
    #twitch:hover {
        color: rgb(206, 17, 206);
    }
      
    #youtube:hover {
        color: red;
    }

}