@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Titillium+Web:wght@300;700&display=swap');

.page{
    min-height: 100vh;
    background-image: url('./images/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.userp{
    color: white;
}

.container {
    max-width: 200%;
    padding-top: 20px;
  /* padding-right: 50px;
  padding-left: px; */
  /* margin-right: 2rem;
  margin-left: 2rem; */
}