.img {
    background: url("../../assets/images/main-bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0 0 0 0;
    margin:0 auto;
    width: auto;
    background-size:cover;
    background-position: center;
    height: 100vh;
    overflow: none;
}

.hero-main-info {
    height: 100%;
}

#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px !important;
    height: 90%;
}

#heroTitle {
    font-size: 4rem !important;
    font-weight: bold;
    color: black;
}

#heroSubtitle {
    font-size: 2.5rem !important;
    color: black;
    font-weight: bold;
}

.scroll-down-btn {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-btn-text {
    text-transform: uppercase;
}


